* {
  color: #000;
}

article {
  border: 4px solid #000;
}

.article-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
}

/* Product Information */
.price {
  font-size: 22px;
}
.small-label {
  color: gray;
  font-size: 12px;
  text-transform: uppercase;
}
.product-description {
  font-weight: bold;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

/* Product Details */
.details-title {
  font-size: 15px;
  text-transform: uppercase;
}
.details-list {
  list-style: square;
}

/* Button */
button {
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  color: #000;
}
